<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1074627512384-04ekh1insofnpuh2gdd0p9uedo423n9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074627512384-04ekh1insofnpuh2gdd0p9uedo423n9u</string>
	<key>API_KEY</key>
	<string>AIzaSyCNCLHV-GB2HgoRHFGrhhXL1y-qYRQ_Y4c</string>
	<key>GCM_SENDER_ID</key>
	<string>1074627512384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yasirbali.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-fc53e</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-fc53e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074627512384:ios:3b897914c885f875</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-fc53e.firebaseio.com</string>
</dict>
</plist>